.primary {
  background-color: var(--color-primary);
}

.danger {
  background-color: var(--color-danger);
}

.secondary {
  background-color: var(--color-secondary);
}

.primary,
.danger,
.secondary {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.action img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

.action svg {
  font-size: 24px;
  color: white;
  }