.confirm {
  right: 42px;
  background-color: var(--color-primary);
}

.edit {
  background-color: var(--color-primary);
  right: 42px;
}

.delete {
  background-color: var(--color-danger);
  right: 4px;
}

.cancel {
  background-color: var(--color-secondary);
  right: 4px;
}

.edit,
.confirm,
.delete,
.cancel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  top: 4px;
  cursor: pointer;

}

.action img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  display: block;
}