input {
  border: none;
  padding: 10px;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  border-bottom: 1px solid var(--color-border);
}

.edited {
  background-color: var(--color-white-text);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  margin-bottom: 20px;
  cursor: focus;
}

li {
  position: relative;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-white-text);
  border-radius: 10px;
  padding: 10px 10px 10px 15px;
  border: 1px solid var(--color-border);
  list-style-type: none;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

span {
  padding-left: 10px;
  padding-bottom: 10px;
  height: 15px;
  line-height: 25px;
  max-width: 550px;
  max-width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li,
input.edited-text {
  height: 44px;
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
  color: var(--color-light-text);
}