.input {
  width: 100%;
  padding-right: 90px;
  max-height: 28px;
  border: none
 }

.edited {
  position: relative;
  background-color: var(--color-white-text);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  padding: 12px;
  margin-bottom: 18px;

}

.completed {
  text-decoration: line-through;
  color: var(--color-light-text);
}

.actions {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 6px;
}
