.input {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 12px;
  font-size: 18px;
}

.edited {
  position: relative;
  background-color: var(--color-white-text);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  padding: 2px;
  margin-bottom: 30px;
  cursor: focus;

}

.completed {
  text-decoration: line-through;
  color: var(--color-light-text);
}

.actions {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 6px;
}


