:root {
  --color-primary:    #5492ff;
  --color-secondary:  #a5a4a4;
  --color-success:    #43a047;
  --color-warning:    #ffa000;
  --color-danger:     #fd6758;
  --color-info:       #0288d1;
  --color-bg:         #eeeeec;
  --color-white-text: #ffffff;
  --color-text:       #000000;
  --color-light-text: #808080;
  --color-border:     #cccccc;
  --color-active:     #67c9ef;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 600px;
  margin: 50px auto;
  background: var(--color-bg);
  border-radius: 20px;
  padding: 20px 50px;
  font-size: 18px;
}

button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--color-light-text);
  cursor: pointer;
}

.title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

form.input-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

input {
  border: none;
  padding: 10px;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  border-bottom: 1px solid var(--color-border);
}

.btn {
  width: 160px;
  background-color: var(--color-primary);
  color: var(--color-white-text);
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

li {
  position: relative;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-white-text);
  border-radius: 10px;
  padding: 10px 10px 10px 15px;
  border: 1px solid var(--color-border);
  list-style-type: none;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

li,
input.edited-text {
  height: 44px;
  box-sizing: border-box;

}

span {
  padding-left: 10px;
  padding-bottom: 10px;
  height: 15px;
  line-height: 25px;
  max-width: 550px;
  max-width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.checkbox-input {
  appearance: none;
  padding-left: 10px;
  height: 10px;
  width: 10px;
  border: 1px solid var(--color-border);
  border-radius: 15px;
  background-color: var(--color-white-text);
  cursor: pointer;
}

.checkbox-input:checked {
  background-color:var(--color-primary);
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.checkbox-input:hover {
  border-color: var(--color-primary);
}

.edited {
  background-color: var(--color-white-text);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  margin-bottom: 20px;
  cursor: focus;
}

input.edited-text {
  display: flex;
  align-items: center;
  max-width: 510px;
  padding: 10px 10px 10px 33px;
}

.completed {
  text-decoration: line-through;
  color: var(--color-light-text);
}

.confirm {
  right: 42px;
  background-color: var(--color-primary);
}

.edit {
  background-color: var(--color-primary);
  right: 42px;
}

.delete {
  background-color: var(--color-danger);
  right: 4px;
}

.cancel {
  background-color: var(--color-secondary);
  right: 4px;
}

.edit,
.confirm,
.delete,
.cancel {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 5px;
  top: 4px;
  cursor: pointer;
}


.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.active {
  color: var(--color-active);
  border-bottom: 2px solid var(--color-active);
}