#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Open Sans', sans-serif;
  background: rgb(227, 224, 209);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 600px;
  margin: 50px auto;
  background: rgb(238, 238, 236);
  border-radius: 20px;
  padding: 20px 50px;
  font-size: 18px;
}

button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

input {
  border: none;
  padding: 10px;
  padding-left: 35px;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
}

.btn {
  width: 160px;
  background-color: #5492ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

.todo {
  position: relative;
  width: 100%;
}

li {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  list-style-type: none;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 35px;
}

.checkbox {
  position: absolute;
  left: 12px;
  top: 14px;
  width: 15px;
  padding-left: 40px;
}

.edited {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.edit,
.confirm {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 35px;
  top: 9px;
  cursor: pointer;
}

.delete,
.cancel {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 5px;
  top: 9px;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.active {
  color: rgb(22, 138, 233);
  border-bottom: 2px solid rgb(22, 138, 233);
}