#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}


.app {
  font-family: 'Open Sans', sans-serif;
  background: rgb(227, 224, 209);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main {
  width: 600px;
  margin: 50px auto;
  background: rgb(238, 237, 234);
  border-radius: 20px;
  padding: 20px 50px;
font-size: 18px;
}

.title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

input {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

input.input-new-todo {
 

}

.btn {
  width: 60px;
  background-color: rgb(130, 30, 50);
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

.todo {
  position: relative;
   width: 100%;
}

li {
 
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  list-style-type: none;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 35px;
}

.checkbox {
 position: absolute;
 left: 12px;
  top: 14px;
  width: 15px;
  padding-left: 40px;
}

.completed {
  text-decoration: line-through;
  color: gray; 

}

.edit,
.save {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 9px;
  cursor: pointer;
}

.delete {

  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 9px;
  cursor: pointer;
}



.filter {
  display:flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.active {
  color: rgb(22, 138, 233);
}